* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    background-color: #434c50;
    font-family: 'Droid Sans', sans-serif;
}

.cool {
    background-color: #434c50;
    height: 100%;
    font: normal 16px sans-serif;
    padding: 2rem 70px;
}

::-webkit-scrollbar {
    display: none;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #fff;
    border-bottom: 1px solid #434c50;
}

nav h1 {
    padding: 20px;
    font-size: 20px;
    color: #aaa;
}

nav .color {
    font-size: 25px;
    color: #35373a;
}

.group1 a {
    text-decoration: none;
}

.menu {
    display: none;
}

.drop-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.drop-down .click {
    list-style: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

.drop-down .click:hover {
    background-color: #33c7a9;
}

.click i {
    color: #434c50;
    transition: .3s all ease-in-out;
}

.rotate {
    transform: rotate(180deg);
}

.emrat {
    transform: translateY(-100%);
    text-align: center;
    width: 40vh;
    height: 100%;
    overflow: hidden;
    top: 8%;
    right: 7%;
    position: fixed;
    border-radius: 10px;
    transition: .5s all ease-in-out;
    display: none;
    z-index: 100;
    list-style: none;
    padding: 20px;
}

.baby {
    transform: translateY(0);
    display: block;
}

.emrat li {
    border: 1px solid #33c7a9;
    padding: 15px;
    background-color: #fff;
}

.emrat li:hover {
    background-color: #aaa;
}

.emrat a {
    text-decoration: none;
    color: #35373a;
    padding: 15px;
}

.drop-down .upload {
    text-decoration: none;
    color: #33c7a9;
    padding: 10px 15px;
    border: 1px dotted #33c7a9;
    border-radius: 5px;
    transition: .3s all ease-in-out;
}

.drop-down .upload:hover {
    color: #35373a;
    border: 1px solid #33c7a9;
    background-color: #33c7a9;
}

.container {
    background-color: #fff;
    height: 100%;
    padding: 30px 50px;
}

.container h1 {
    font-size: 40px;
    color: #aaa;
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
}

.color {
    font-size: 50px;
    color: #35373a;
}

.container .description {
    font-weight: 400;
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}

@media screen and (max-width: 960px) {
    .menu {
        width: 45px;
        height: 25px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        gap: .4rem;
        cursor: pointer;
        display: flex;
        position: relative;
        z-index: 2000;
    }
    .menu span {
        background-color: #35373a;
        width: 100%;
        height: 5px;
        transition: .3s all ease-in-out;
    }
    .menu span:nth-child(1) {
        width: 40%;
    }
    .menu span:nth-child(2) {
        width: 100%;
    }
    .menu span:nth-child(3) {
        width: 60%;
    }
    .one {
        transform: translateX(-20px) rotate(45deg) translateY(4px);
    }
    .two {
        transform: rotate(-45deg);
        width: 80%;
    }
    .three {
        transform: rotate(45deg) translateX(-8px);
    }
    .navi {
        transform: translateX(-100%);
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: grid;
        place-items: center;
        align-items: center;
        z-index: 1000;
        padding: 20px 0;
        transition: .3s all ease-in-out;
    }
    .navi-move {
        transform: translateX(0);
    }
    .drop-down {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column-reverse;
        align-items: center;
        justify-content: flex-end;
        gap: 0;
        background-color: #fafafac2;
        backdrop-filter: blur(12px);
        box-shadow: 0 0 10px #000;
        width: 90%;
        height: 70vh;
        padding: 2rem 0;
        border-radius: 20px;
        overflow: hidden;
    }
    .drop-down .click {
        text-align: center;
        padding: 10px 0;
        width: 100%;
        font-size: 22px;
    }
    .drop-down .click:hover {
        background-color: #aaa;
    }
    .emrat {
        transform: translateY(-100%);
        width: 100%;
        height: 100%;
        overflow: scroll;
        top: 25%;
        right: 0;
        position: absolute;
        border-radius: 10px;
        transition: .5s all ease-in-out;
        display: none;
        z-index: 100;
        list-style: none;
        padding: 20px 0;
    }
    .baby {
        transform: translateY(0);
        display: block;
    }
    .emrat li {
        border: 0;
        padding: 15px;
        background-color: transparent;
    }
    .emrat li:hover {
        background-color: #aaa;
    }
    .emrat a {
        text-decoration: none;
        color: #35373a;
        padding: 15px;
    }
    .drop-down .upload {
        font-size: 22px;
        text-decoration: none;
        color: #35373a;
        padding: 10px 100%;
        border: 0;
        border-radius: 5px;
        transition: .3s all ease-in-out;
    }
    .drop-down .upload:hover {
        border: 0;
        background-color: #aaa;
    }
}

@media screen and (max-width: 800px) {
    .cool {
        padding: 50px 50px;
    }
    .container {
        padding: 30px 30px;
    }
}

@media screen and (max-width: 700px) {
    .cool {
        padding: 50px 30px;
    }
    .container {
        padding: 30px 50px;
    }
}

@media screen and (max-width: 560px) {
    .cool {
        padding: 0 0;
    }
    .container h1 {
        font-size: 22px;
    }
    .color {
        font-size: 25px;
    }
}

@media screen and (max-width: 450px) {
    nav {
        padding: 10px 10px;
    }
    .container h1 {
        font-size: 18px;
    }
    .color {
        font-size: 23px;
    }
}

@media screen and (max-width: 340px) {
    nav {
        padding: 10px 10px;
    }
    .container {
        padding: 30px 20px;
    }
}