* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    scroll-behavior: smooth;
}

body {
    background-color: #434c50;
    font-family: 'Droid Sans', sans-serif;
}

.cool {
    background-color: #434c50;
    height: 100%;
    font: normal 16px sans-serif;
    padding: 0 70px;
    margin-top: 2rem;
}

::-webkit-scrollbar {
    display: none;
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    background-color: #fff;
}

nav h1 {
    padding: 20px;
    font-size: 20px;
    color: #aaa;
}

nav .color {
    font-size: 20px;
    color: #35373a;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
}

.group .click {
    list-style: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
}

.group .click:hover {
    background-color: #33c7a9;
}

.emrat {
    transform: translateY(-100%);
    text-align: center;
    width: 40vh;
    height: 100%;
    overflow: hidden;
    top: 8%;
    right: 7%;
    position: fixed;
    border-radius: 10px;
    transition: .5s all ease-in-out;
    display: none;
    z-index: 100;
    list-style: none;
    padding: 20px;
}

.baby {
    transform: translateY(0);
    display: block;
}

.emrat li {
    border: 1px solid #33c7a9;
    padding: 15px;
    background-color: #fff;
}

.emrat li:hover {
    background-color: #aaa;
}

.emrat a {
    text-decoration: none;
    color: #35373a;
    padding: 15px;
}

.group .upload {
    text-decoration: none;
    color: #33c7a9;
    padding: 10px 15px;
    border: 1px dotted #33c7a9;
    border-radius: 5px;
    transition: .3s all ease-in-out;
}

.group .upload:hover {
    color: #35373a;
    border: 1px solid #33c7a9;
    background-color: #33c7a9;
}

.container {
    background-color: #fff;
    height: 100%;
    padding: 30px 50px;
}

.container h1 {
    font-size: 40px;
    color: #aaa;
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
}

.color {
    font-size: 50px;
    color: #35373a;
}

.container .description {
    font-weight: 400;
    text-align: center;
    margin: 25px auto;
    font-size: 18px;
    color: #999;
}